
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/public/images/logo-mercado-liebre.svg" height="100px" width="100%" alt="">
          <p>Lugar para poner barra de busqueda</p>
          <p>Compra en cuotas y sin targeta de credito</p>
        <ul>
            <li><a href="Ofertas"> Ofertas</a> </li>
            <li><a href="Tiendas oficiales">Tiendas oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li> <a href="Ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li> <a href="Crea tu cuenta" >Crea tu cuenta</a> </li>
            <li> <a href="Ingresá">Ingresá</a>  </li>
            <li> <a href="Mis compras">Mis compras</a>  </li>
        </ul>
    </header>
    <main>
       <section><h3>Basado en tu ultima visita</h3></section>

       <article> 
            <img width="100%" src="/public/images/img-cafetera-moulinex.jpg" alt="Samsung galaxy s10">
            <p>$6.770</p>
            <p>40% off</p>
            <strong>Cafetera Moulinex</strong>
       </article>
        
       <article>
            <img width="100%" src="/public/images/img-macbook-pro-2019.jpg" alt="Samsung galaxy s10">
            <p>$230.000</p>
            <p>20% off</p>
            <strong>macbook pro 2019</strong>
       </article>

        <article> 
               <img width="100%" src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10">
               <p>$70.500</p>
               <p>10% off</p>
               <strong>Samsung galaxy s10</strong>
        </article>

         <article>
                 <img width="100%" src="/public/images/img-tv-samsung-smart.jpg" alt="Samsung galaxy s10">
                 <p>$23.200</p>
                 <p>5% off</p>
                 <strong> SmartTv Samsung 43"</strong>
         </article>
       <section><h3>Ofertas</h3></section> 

       <article> 
             <img width="100%" src="/public/images/img-cafetera-moulinex.jpg" alt="Samsung galaxy s10">
             <p>$6.770</p>
             <p>40% off</p>
             <strong>Cafetera Moulinex</strong>
       </article>

       <article>
              <img width="100%" src="/public/images/img-macbook-pro-2019.jpg" alt="Samsung galaxy s10">
              <p>$230.000</p>
              <p>20% off</p>
              <strong>macbook pro 2019</strong>
       </article>

            <article> 
                   <img width="100%" src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10">
                   <p>$70.500</p>
                   <p>10% off</p>
                   <strong>Samsung galaxy s10</strong>
            </article>
        
            <article> 
                   <img width="100%" src="/public/images/img-tv-samsung-smart.jpg" alt="Samsung galaxy s10">
                   <p>$23.200</p>
                   <p>5% off</p>
                   <strong> SmartTv Samsung 43"</strong>
            </article>
            
    </main>
    <footer>
           <section><h3>Pagá con tarjeta o efectivo</h3>
        <p>Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        </section>
        <section><h3>Envio gratis desde $2.500</h3>
        <P>Solo por estar registrado en Mercado Liebre tenes envios gratis en  miles de productos. Es un benefio de Mercado Puntos.</P>
        </section>
    </section>
    <section><h3>Seguridad de principio a fin </h3>
    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
     </section>
      <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>




    </footer>
</body>
</html>